/**********
  General
**********/

.container {
  overflow: hidden;
  display: block;
  padding: 0px;
}
.content {
  margin-top: 50px;
}
.savedBody {
  text-align: center;
}
.savedIcon {
  color: green;
  margin-left: 20px;
  font-size: 20px;
}

.back {
  padding: 10px;
  font-size: 18px;
  color: black;
}
/*********
  Navbar
*********/

.navLink {
  padding: 8px;
  color: rgba(0, 0, 0, 0.9);
}
.navLink:hover {
  text-decoration: none;
  /* color: rgba(255, 255, 255, 0.8); */
}

/*******
  Card
*******/

.navLinkCard {
  color: black;
  text-decoration: none;
}
.navLinkCard:hover {
  text-decoration: none;
  color: green;
}
.cardContainer {
  width: 100%;
  min-height: 420px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px;
  text-align: center;
}

.cardContainer:hover {
  color: green;
}

.cardContainer:hover .recipeDeleteIconContent {
  /* color: green; */
  opacity: 1;
}

.recipeDeleteIconContent:hover {
  color: red;
}

.recipeDeleteIconContent {
  z-index: 1;
  transition: .5s ease;
  position: absolute;
  right: 0;
  font-size: 30px;
  color: black;
  opacity: 0;
  padding-right: 20px;
  /* transform: translate(-0%, -0%);
  -ms-transform: translate(-50%, -50%); */
}

.cardImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cardVideo {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.cardIcon {
  font-size: 100px;
}
.cardTitle {
  margin: 20px;
  font-size: 20px;
}

/*******************
  Body composition
*******************/

.chartContainer {
  width: 100%;
}

.smallError {
  font-size: 18px;
  color: red;
  margin-top: 20px;
}

/***************
  Add food recipes
***************/

.addRecipeContainer {
  margin: 40px 0;
}

.addRecipeContent {
  overflow: auto;
  margin-bottom: 20px;
}
.addRecipe {
  float: right;
  padding: 5px 10px;
  border-radius: 5px;
  outline: none !important;
  background-color: #545b62;
  color: white;
}
.saveRecipe {
  margin: 20px 0;
}
.recipesCardImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.recipesCardContainer {
  width: 100%;
  padding-bottom: 30px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px;
  text-align: center;
}
.recipesCardTitle {
  margin: 20px;
  font-size: 20px;
}
.recipesBodyItems {
  font-size: 18px;
}

.ingredient {
  font-size: 18px;
}
.deleteIngredient {
  color: red;
  margin-left: 5px;
  margin-bottom: 3px;
  font-size: 20px;
}

.getPicture {
 border: 1px solid #ced4da;
 border-radius: 0.25rem;
 padding: 10px 10px;
 outline: none !important;
 background-color: #ffffff;
 color: gray;
}

.loadedImage {
  width: 100%;
  height: 340px;
  object-fit: cover;
  border-radius: 3px;
  margin-bottom: 20px;
}

/***************
  Single food recipe
***************/
.recipeContainer {
  padding: 0;
}
.recipesCardContainer {
  width: 100%;
  padding-bottom: 30px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px;
  text-align: center;
}
.recipesCardContainer:hover {
  box-shadow: 0px 0px 5px red;
}
.recipesCardContainer:hover .recipeCardImage {
  /* opacity: 0.3; */
}
.recipesCardContainer:hover .recipeDeleteIconContent {
  /* opacity: 1; */
}
.recipeDeleteIconContent {
  /* z-index: 1;
  transition: .5s ease;
  position: absolute;
  right: 0;
  font-size: 30px;
  color: red;
  opacity: 0;
  padding-right: 10px;
  /* transform: translate(-0%, -0%);
  -ms-transform: translate(-50%, -50%); */
}
.recipesCardTitle {
  margin: 20px;
  font-size: 20px;
}
.recipesBodyItems {
  font-size: 18px;
}
.recipeCardImage {
  width: 100%;
  height: 340px;
  object-fit: cover;
  transition: .5s ease;
  backface-visibility: hidden;
}
.recipeBodyItems {
  text-align: left;
  font-size: 18px;
  margin-bottom: 20px;
}
.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.infoItem {
 margin: 10px;
}

/*****************
  Youtube videos
*****************/

.videoContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 13.5%;
  margin-bottom: 10px;
}
.singleVideoContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 54%;
  margin-bottom: 10px;
}
.videos {
  position:absolute;
    width:96%;
    height:100%;
    margin: 2%;
}

#dropdown-item-button {
  margin-bottom: 20px;
  margin-right: 10px;
}

.radioContent {
  margin: 20px 0;
}
/*********
  Footer
*********/

.footer {
  /* background-color: grey; */
  /* color: white; */
  color: grey;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

/*********
  Error
*********/

.error {
  font-size: 30px;
  color: red;
  text-align: center;
}

/*********
  Set body composition
*********/

.setBodyComposition{
  margin-top: 30px;
}

@media only screen and (max-width: 992px) {
  /* For mobile phones: */

  /**********
    General
  **********/

  .container {
    padding: 0px;
  }

  /*********
    Navbar
  *********/
  .navLink {
    padding-left: 0px;
  }

  /*********
    Recipe
  *********/

  .recipeBodyItems {
    text-align: left;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 0 30px;
  }

  /*****************
  Youtube videos
*****************/

.videoContainer {
  padding-bottom: 53.9%;
}
}